<h2>Nouvelle Réclamation Reçue</h2>

<p><strong>Utilisateur :</strong> {{ reclamation.user.email }}</p>
<p><strong>Objet :</strong> {{ reclamation.titre }}</p>
<p><strong>Description :</strong></p>
<p>{{ reclamation.description }}</p>